%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge;chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0' }

    %title= "Blog Title - #{current_article.title unless current_article.nil?}"
    = feed_tag(:atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed')

    %script{src: 'https://code.jquery.com/jquery-3.4.1.min.js', integrity: 'sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin: 'anonymous' }
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Rubik'}
    = stylesheet_link_tag 'all'
    = javascript_include_tag 'all'

  %body
    .ui.large.top.fixed.hidden.menu
      .ui.container
        %a.active.item Home
        %a.item Work
        %a.item Company
        %a.item Careers

    .ui.vertical.inverted.sidebar.menu
      %a.active.item Home
      %a.active Work
      %a.active Company
      %a.active Careers
      %a.active Login
      %a.active Signup

    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            %a.toc.item
              %i.sidebar.icon
            %a.active.item{href: '/'} Inicio
            %a.active.item{href: '/'} Editoriales
            %a.active.item{href: '/'} Ilustradores
            %a.active.item{href: '/'} Cosplayers
            %a.active.item{href: '/'} Rol
            %a.active.item{href: '/'} Asociaciones

        .ui.text.container

      .ui.vertical.stripe.segment

      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
              %h4.ui.inverted.header Acerca de
              .ui.inverted.link.list
                %a.item{href: '#'} Mapa del sitio
                %a.item{href: '#'} Contacta con nosotros
                %a.item{href: '#'} Quienes somos
                %a.item{href: '#'} Gazebo Plans
            .three.wide.column
              %h4.ui.inverted.header Síguenos
              .ui.inverted.link.list
                %a.item{href: 'https://twitter.com/menteludic'}
                  %i.ui.icon.twitter
                  Twitter
                %a.item{href: 'https://www.instagram.com/menteludic/'}
                  %i.ui.icon.instagram
                  Instagram
                %a.item{href: 'https://www.facebook.com/events/3219947994683738/'}
                  %i.ui.icon.facebook
                  Facebook

